[submodule "xmonad/xmonad"]
	path = xmonad/xmonad
	url = git@github.com:xmonad/xmonad.git
[submodule "xmonad/xmonad-contrib"]
	path = xmonad/xmonad-contrib
	url = git@github.com:xmonad/xmonad-contrib.git
