# Module utils
snippet module "New Module" b
module `!v GetPackageForFile()`.`!v Classname()` where
endsnippet

snippet iq "Import qualified" b
import qualified ${1:module} as ${2:X}
endsnippet

# Pragmas
snippet lang "LANGUAGE pragma" b
{-# LANGUAGE ${1:ext} #-}
endsnippet

snippet opts "OPTIONS_GHC pragma" b
{-# OPTIONS_GHC $1 #-}
endsnippet
