snippet code "Code block" b
~~~$1
$2
~~~
endsnippet

snippet hl "Highlight" b
{% highlight $1 %}
$2
{% endhighlight %}
endsnippet

snippet hls "Highlight scala" b
{% highlight scala %}
$1
{% endhighlight %}
endsnippet

snippet hlh "Highlight haskell" b
{% highlight haskell %}
$1
{% endhighlight %}
endsnippet
